.animating{
	-webkit-animation: animate 1s cubic-bezier(0,1,1,0);
	-moz-animation: animate 1s cubic-bezier(0,1,1,0);
	-ms-animation: animate 1s cubic-bezier(0,1,1,0);
	-o-animation: animate 1s cubic-bezier(0,1,1,0);
	animation: animate 1s cubic-bezier(0,1,1,0);			
}

@-webkit-keyframes animate{
    from {
        -webkit-transform: scale(1);
    }
    to {
       -webkit-transform: scale(1.7);
    }
}

@-moz-keyframes animate{
    from {
        -moz-transform: scale(1);
    }
    to {
       -moz-transform: scale(1.7);
    }
}

@-ms-keyframes animate{
    from {
        -ms-transform: scale(1);
    }
    to {
       -ms-transform: scale(1.7);
    }
}

@-o-keyframes animate{
    from {
        -o-transform: scale(1);
    }
    to {
       -o-transform: scale(1.7);
    }
}

@keyframes animate{
    from {
        transform: scale(1);
    }
    to {
       transform: scale(1.7);
    }
}